body{
    background-color:lavender;
}
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    width:100%;
    gap:20px;
}
.container figure{
    margin:0;
    flex:calc(45%-30px);
    text-align:center;
}
.container img{
    display:auto;
    width:400px;
    height:auto;
    border-radius:10px;
}

@keyframes slideIn{
    from{
        transform:translateX(100%);
    }
    to{
        transform:translate(0);
    }
}
.container img{
    animation-name:slideIn;
    animation-duration:2s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-play-state: paused;
}
.container img:hover{
    animation-play-state:running;
}